#info {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/4;
    grid-template-columns: var(--full-margin-width) var(--board-size) var(--full-margin-width);
    grid-template-rows: var(--full-margin-height) var(--board-size) var(--full-margin-height);
}

#difficulty {
  align-items: center;
  display: grid;
  grid-column: 2;
  grid-row: 1;
  height: 10vh;
  text-align: center;
}

#info-btns {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
  height: var(--board-size);
}

.info-btn-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 50%;
  justify-content: center;
}

.info-btn {
  background-color: darkgray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 7vh;
  width: 7vh;
}

.info-btn:hover,
.number-btn:hover {
  background-color: black;
  color: lightgray;
}

.info-img {
  height: 70%;
  margin: auto;
  width: 70%;
}

#numbers {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 2;
  justify-content: space-around;
}

.number-div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.number-btn {
  background-color: lightgray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  height: 50%;
  width: 50%;
}

@media screen and (min-width: 1000px) {
  #info {
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    height: var(--board-size);
    width: var(--board-size);
  }

  #difficulty {
    grid-column: 1;
    grid-row: 1;
  }

  #info-btns {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
  }

  .info-btn-div {
    align-self: baseline;
    display: flex;
    flex-direction: column;
    height: 33%;
    width: 100%;
  }

  #numbers {
    align-self: end;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 50%;
    justify-self: center;
    margin-bottom: 10vh;
    width: 75%;
  }
}
