#board {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 80vh;
  margin: auto;
  width: 80vh;
}

@media screen and (min-width: 700px) {
 #board {
  grid-column: 2;
  grid-row: 1;
 }
}
