#phase-two-container {
  display: grid;
  grid-template-columns: var(--full-margin-width) var(--board-size) var(--full-margin-width) ;
  grid-template-rows: var(--full-margin-height) var(--board-size) var(--full-margin-height);
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  #phase-two-container {
    grid-template-columns: var(--full-left) var(--full-right);
    grid-template-rows: var(--full-left-margin) calc(var(--board-size)) var(--full-left-margin);
    height: 100vh;
    width: 100%;
  }
}
