.square {
  align-items: center;
  border: 1px solid gray;
  display: grid;
  font-size: xx-large;
  height: var(--square-size);
  justify-content: center;
  width: var(--square-size);
  z-index: 1;
}

.valid {
  cursor: pointer;
}

.valid:hover {
  background-color: lightgray;
}

.wrong {
  background-color: red;
}
