:root {
  --board-size: 80vh;
  --full-left: calc(var(--board-size) + 10vw);
  --full-margin-height: calc((100vh - var(--board-size)) / 2);
  --full-margin-width: calc((100vw - var(--board-size)) / 2);
  --full-right: calc(100vw - var(--full-left));
  --square-size: calc(var(--board-size) / 9) - 1px;
  --half-height: calc(var(--board-size) / 2);
  --margin-width: calc((100vw - var(--board-size)) / 2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main container */
#container {
	display: flex;
	height: 100vh;
	width: 100vw;
}
